.user-album-preview {
    height: 200px;
    margin: 10px 0;
}

.user-album-preview > a > .user-album-preview-image {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}
.image-upload-buttons {
    position: relative !important;
    top: 85px;
}